* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
}

.announcement {
  grid-column: 1/3;
  padding: 20px;
  width: 50%;
  height: 60px;
  text-align: center;
  background-color: whitesmoke;
}

.board {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.board > button {
  outline: 1px solid darkgrey;
  height: 40px;
  min-width: 40px;
  border: none;
}

.attacks.board > button:hover {
  background-color: lightgray;
}

.attacks.board > button:active {
  background-color: whitesmoke;
}

.disable-pointer {
  pointer-events: none;
}

button.ship {
  background-color: rebeccapurple;
}

button.hit::before {
  content: 'X';
  color: red;
  font-weight: bolder;
  font-size: 24px;
}

button.miss::before {
  content: 'O';
  color: gray;
  font-weight: bolder;
  font-size: 24px;
}

.toggle-direction {
  height: 30px;
}

.place-ships-screen {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  justify-items: center;
}

.board-border {
  padding: 5px;

  grid-column: 2/3;
  grid-row: 1/3;
}

.place-ships.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.draggable-ships-container {
  width: 300px;
  min-height: 300px;
  background-color: whitesmoke;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#battleship,
#cruiser,
#submarine,
#destroyer,
#carrier {
  width: 40px;
  height: 40px;
  background-color: rebeccapurple;

  &::before {
    color: white;
    font-size: 10px;
  }
}

#carrier::before {
  content: 'Carrier';
}

#battleship::before {
  content: 'Battleship';
}

#submarine::before {
  content: 'Submarine';
}

#cruiser::before {
  content: 'Cruiser';
}

#destroyer::before {
  content: 'Destroyer';
}

.ship-hover {
  background-color: gray;
}

.ship-hover.invalid {
  background-color: maroon;
}

.transparent {
  opacity: 0.5;
}

.hidden {
  display: none;
}
