* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 20px;
}

div.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

div.board.ships > * {
  pointer-events: none;
}

button {
  outline: 1px solid darkgrey;
}

button.ship {
  background-color: rebeccapurple;
}

button.hit::before {
  content: 'X';
  color: red;
  font-weight: bolder;
  font-size: 24px;
}

button.miss::before {
  content: 'O';
  color: gray;
  font-weight: bolder;
  font-size: 24px;
}
