* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 20px;
}

div.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

button {
  outline: 1px solid red;
}

button.ship {
  background-color: rebeccapurple;
}
